<!DOCTYPE HTML>
<html lang="{{ tolgee_lang }}">

<head>
	<title>über Mich</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="author" content="Susana Oder-Pena" />
	<meta name="robots" content="index, follow" />

	<link rel="apple-touch-icon" sizes="180x180"
		href="{{ url_for('static', filename='assets/images/apple-touch-icon.png') }}" />
	<link rel="icon" type="image/png" sizes="32x32"
		href="{{ url_for('static', filename='assets/favicon_susana/favicon-32x32.png' )}}" />
	<link rel="icon" type="image/png" sizes="16x16"
		href="{{ url_for('static', filename='assets/favicon_susana/favicon-16x16.png') }}" />
	<link rel="manifest" href="{{ url_for( 'static', filename='assets/json/site.webmanifest' )}}" />

	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />
	<noscript>
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/noscript.css') }}" />
	</noscript>
</head>

<body class="is-preload">
	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
		<header id="header">
			<a href="{{url_for('home')}}" class="logo"><img
					src="{{ url_for('static', filename='images/logo.png') }}"></a>
		</header>

		<!-- Nav -->
		<nav id="nav">
			<ul class="links">
				<li><a href="{{url_for('home')}}" data-i18n="menu-home">Startseite</a></li>
				<li><a href="{{url_for('firma')}}" data-i18n="menu-home-firma">Die Kanzlei</a></li>
				<li><a href="{{url_for('services')}}" data-i18n="menu-home-services">Dienstleistungen</a></li>
				<li class="active"><a href="{{ url_for('about_me')}}" data-i18n="menu-home-aboutMe">über mich</a></li>
				<li><a href="{{ url_for('impresum')}}" data-i18n="menu-home-impresum">Impressum</a></li>
				<li><a href="{{ url_for('privacy')}}" data-i18n="menu-home-privacy">Datenschutz</a></li>
			</ul>
		</nav>

		<!-- Main -->
		<div id="main">
			<!-- Post -->
			<section class="post">
				<header class="major">
					<h2 data-i18n="about-title">Wer bin ich?</h2>
				</header>
				<hr />
				<h4>Dr. María Susana Oder- Peña, LL.M.</h4>
				<p style="color: black;"><span class="image left"><img
							src="{{ url_for('static', filename='images/susana.jpg') }}" alt="" /></span>
					<span data-i18n="about-susana">Ich bin (als Rechtsanwältin) in Spanien, Kolumbien und Deutschland
						zugelassen und biete eine
						echte
						trilaterale Rechtsperspektive. <br>

						Mein akademischer Hintergrund vereint die Stärken des lateinamerikanischen und europäischen
						Rechts.
						Ich habe mein Studium an der
						renommierten <b>Universidad del Colegio Mayor del Rosario</b> in Bogotá und der Ruperto Carola
						in
						Heidelberg abgeschlossen.
						Ergänzt wird diese Grundlage durch einen Master of Laws (LL.M.) und einen Doktortitel in
						Rechtswissenschaften (PhD)
						derselben deutschen Universität, die ein tiefes Verständnis internationaler Rechtssysteme
						gewährleisten. <br>

						Ich verfüge über langjährige Berufserfahrung in Kolumbien und Deutschland und verbinde meine
						freiberufliche Tätigkeit mit
						einer soliden Karriere als wissenschaftliche Mitarbeiterin an der Ruperto Carola in Heidelberg.
						<b>2006 gründete ich meine
							eigene Kanzlei, die Kanzlei Dr. Susana Peña</b> in Heidelberg, wo ich meine Erfahrung in der
						Beratung und internationalen
						Rechtsvertretung vertieft habe.</span> <br>
				</p>
				<h4><a target="_blank" data-i18n="about-link"
						href="https://www.amazon.de/Einpersonengesellschaft-deutschen-kolumbianischen-Europ%C3%A4ische-Hochschulschriften/dp/3631527918/ref=sr_1_1">
						Die Einpersonengesellschaft im deutschen und im kolumbianischen Recht
					</a></h4>
				<hr />

				<h2><a data-i18n="about-focus">Schwerpunkte</a></h2>
				</header>
				<ul style="color: black;" class="alt">
					<li data-i18n="about-focus-family">Familienrecht</li>
					<li data-i18n="services-ausl-title">Ausländerrecht</li>
					<li data-i18n="services-inmo-title">Immobilienrecht</li>
					<li data-i18n="services-familien-title">Fachlehrgang in Migrationsrecht erfolgreich absolviert</li>
					<li data-i18n="about-focus-cross">Ein besonderer Schwerpunkt meiner Tätigkeit sind
						grenzüberschreitende Fälle mit
						Lateinamerika- und Spanienbezug</li>
				</ul>
				</article>
				<hr />
				<article>
					<header>
						<h2><a data-i18n="about-forti-title">Fortbildungen</a></h2>
					</header>
					<ul style="color: black;" class="alt">
						<li data-i18n="about-forti-1">Fachanwaltslehrgang in Familienrecht erfolgreich absolviert</li>
						<li data-i18n="about-forti-2">Lehrgang als Mediatorin bei der DeutscheAnwaltAkademie erfolgreich
							absolviert</li>
						<li data-i18n="about-forti-4">Fachlehrgang in Migrationsrecht erfolgreich absolviert</li>
						<li data-i18n="about-forti-3">Regelmäßige Teilnahme an Fortbildungen in Familien- und
							Ausländerecht sowie in
							Immobilienrecht</li>
					</ul>
				</article>
				<hr />
				<article>
					<header>
						<h2><a data-i18n="about-member-title">Mitgliedschaften</a></h2>
					</header>
					<ul style="color: black;" class="alt">
						<li data-i18n="about-member-2">Deutscher Anwaltsverein (Berlin) Mitglied der Arbeitsgemeinschaft
							Familienrecht.</li>
						<li data-i18n="about-member-4">Anwaltsverein Heidelberg</li>
						<li data-i18n="about-member-7">Verein der Freunde und Förderer des Instituts für Internationales
							Privat- und Wirtschaftsrecht der Universität Heidelberg</li>
					</ul>
				</article>
				<hr />
				<article>
					<header>
						<h2><a data-i18n="languages">Sprachen</a></h2>
					</header>
					<ul style="color: black;" class="alt">
						<li data-i18n="spanisch">Spanisch</li>
						<li data-i18n="germain">Deutsch</li>
						<li data-i18n="english">Englisch</li>
					</ul>
				</article>
				<ul class="actions special">
					<li>Link: <a href="https://www.peterlang.com/index.cfm?vID=52791&vLang=D&vHR=1&vUR=2&vUUR=1"
							data-i18n="about-publications" target="_blank">Publikationen</a></li>
				</ul>

			</section>
			</section>
			<ul class="actions special">
				<li><a href="{{ url_for('home')}}#contact" class="button large" data-i18n="contact-button">Kontakt</a>
				</li>
			</ul>
		</div>
		<!-- Footer -->
		<footer id="footer">
			<section>
				<h3>Social</h3>
				<ul class="icons alt">
					<!--<li><a href="" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a>
						</li>
						<li><a href="" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a>
						</li>
						<li><a href="" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>-->
					<li><a href="https://share.google/SGkgSo4xeqm79YAYD" target="_blank"
							class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a>
					</li>
					<li><a href="https://www.anwalt.de/maria-susana-oder-pena" target="_blank"
							class="icon solid alt fa-globe" title="Anwalt.de"><span class="label">Anwalt</span></a>
					</li>
					<li><a href="https://anwaltverein.de/" target="_blank" class="icon solid alt fa-link"
							title="Anwaltverein.de"><span class="label">Anwaltverein</span></a></li>
				</ul>
			</section>
		</footer>


		<!-- Copyright -->
		<div id="copyright">
			<ul>
				<li>Dr. Maria Susana Oder-Peña </li>
			</ul>
			<ul>
				<li>Steuernummer-ID DE248517308</li>
			</ul>
			<ul>
				<li>&copy; {{ current_year }} Kanzlei Dr. Susana Peña</li>
				<li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
			</ul>
			<ul>
				<li>Photographer Inci Bosnak</li>
				<li>Logo Design by JJO</li>
			</ul>
		</div>

	</div>

	<!-- Scripts -->
	<script src="https://cdn.jsdelivr.net/npm/@tolgee/web/dist/tolgee-web.umd.min.js"></script>
	<script>
		// Inyectamos la config desde Flask al frontend
		window.tolgeeConfig = {
			apiKey: "{{ tolgee_api_key }}",
			apiUrl: "{{ tolgee_api_url }}",
			language: "{{ tolgee_lang }}"
		};
	</script>
	<!-- Scripts -->
	<script src="{{ url_for('static', filename='assets/js/tolgee-init.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/jquery.scrollex.min.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/jquery.scrolly.min.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/browser.min.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/breakpoints.min.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/util.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

</body>

</html>