<!DOCTYPE HTML>
<html lang="{{ tolgee_lang }}">

<head>
	<title>Impressum</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="author" content="Susana Oder-Pena" />
	<meta name="robots" content="index, follow" />

	<link rel="apple-touch-icon" sizes="180x180"
		href="{{ url_for('static', filename='assets/images/apple-touch-icon.png') }}" />
	<link rel="icon" type="image/png" sizes="32x32"
		href="{{ url_for('static', filename='assets/favicon_susana/favicon-32x32.png' )}}" />
	<link rel="icon" type="image/png" sizes="16x16"
		href="{{ url_for('static', filename='assets/favicon_susana/favicon-16x16.png') }}" />
	<link rel="manifest" href="{{ url_for( 'static', filename='assets/json/site.webmanifest' )}}" />

	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />
	<noscript>
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/noscript.css') }}" />
	</noscript>
</head>

<!-- Wrapper -->
<div id="wrapper">

	<!-- Header -->
	<header id="header" class=>
		<a href="{{url_for('home')}}" class="logo"><img src="{{ url_for('static', filename='images/logo.png') }}"></a>
	</header>

	<!-- Nav -->
	<nav id="nav">
		<ul class="links">
			<li><a href="{{url_for('home')}}">Startseite</a></li>
			<li><a href="{{url_for('firma')}}">Die Kanzlei</a></li>
			<li><a href="{{url_for('services')}}">Dienstleistungen</a></li>
			<li><a href="{{ url_for('about_me')}}">über mich</a></li>
			<li class="active"><a href="">Impressum</a></li>
		</ul>
	</nav>

	<!-- Main -->
	<div id="main">

		<!-- Post -->
		<section class="post">
			<header class="major">
				<h1>Impressum</h1>
			</header>


			<div class="col-4"><span class="image right"><img src="static/images/impreso.jpeg" alt="" />
					Angaben gemäß TMG, RStV und DL-InfoV<br>
					Dr. María Susana Oder-Peña, LL. M. <br>
					Rechtsanwältin & Abogada <br>
					Häusserstraße 6a 69115 Heidelberg <br>
					<h6>Kontakt</h6>
					Tel: 06221/4337204 <br>
					Fax: 06221/4337205 <br>
					E-Mail: info@pena-abogados.com <br>
					Umsatzsteuer-Identifikationsnummer gemäß § 27 a Umsatzsteuergesetz: DE248517308
					<b>Gesetzliche Berufsbezeichnung</b> Rechtsanwältin & Abogada
					Frau Rechstsanwältin Dr. Oder-Peña ist zur Ausübung der Rechtsanwaltstätigkeit in Deutschland,
					Spanien und Kolumbien zugelassen.
				</span>
				<hr>

			</div>

			<!-- Text stuff -->
			<h3>Zuständige Kammern:</h3>
			<p><b>Rechtsanwaltskammer Karlsruhe</b><br>
				Reinhold-Frank-Strasse 72 <br>
				76133 Karlsruhe
			</p>
			<p><b>Ilustre Colegio de Abogados de Madrid</b><br>
				Calle de Serrano 9 <br>
				28001 Madrid
			</p>
			<p><b>Consejo Superior de la Judicatura en Bogotá</b><br>
				Calle 12 Nr. 7-56 <br>
				Bogotá, Colombia
			</p>
			<h3>Maßgebliche berufsrechtliche Regelungen:</h3>
			<ul class="alt">
				<li>Bundesrechtsanwaltsordnung (BRAO)</li>
				<li>Berufsordnung für Rechtsanwälte (BORA)</li>
				<li>Fachanwaltsordnung (FAO)</li>
				<li>Rechtsanwaltsvergütungsgesetz (RVG)</li>
				<li>Berufsregeln der Rechtsanwälte der Europäischen Union (CCBE)</li>
			</ul>

			<h4>Diese berufsrechtlichen Regelungen finden Sie auf der Homepage der Bundesrechtsanwaltskammer
				(<a href="https://www.brak.de" target="_blank">www.brak.de</a>) unter der Rubrik „Berufsrecht“.</h4>

			<ul class="alt">
				<li>Estatuto General de abogacía en España (<a href="https://www.mjusticia.gob.es"
						target="_blank">www.mjusticia.gob.es</a>)</li>
				<li>Estatuto General de la abogacía en Colombia <br> (<a href="https://www.ramajudicial.gov.co"
						target="_blank">www.ramajudicial.gov.co</a>)</li>
			</ul>

			<h3>Inhaltlich Verantwortliche <br>
				gemäß § 55 Abs. 2 RStV:</h3>
			RStV: Dr. Susana Oder-Peña (Anschrift wie oben) <br>
			Berufshaftpflichtversicherung <br>
			Allianz Versicherungs-AG <br>
			10900 Berlin
			<hr />
			<h2>Haftungsausschluss:</h2>
			<p>Die Inhalte der Internetseite www.pena-abogados.com dienen allgemeinen Informationszwecken.
				Ihr Inhalt ist unverbindlich. Die Seiten sind weder als Teil von Geschäftsbeziehungen noch
				als gewerbsmäßige Beratung anzusehen. Da Rechtsfragen in der Regel äußerst komplex und
				vielfältig sind, empfehlen wir, unbedingt rechtlichen Rat einzuholen und sich nicht nur
				auf die allgemeinen Informationen dieser (oder anderer) Seiten zu stützen. Als Service
				für den Benutzer enthalten diese Seiten außerdem Verweise zu Servern anderer Unternehmen
				oder Organisationen. Wir können keinerlei Gewähr oder Haftung für den Inhalt, die Aktualität,
				Korrektheit, Vollständigkeit, Qualität oder Quelle der auf diesen Seiten dargebotenen
				Informationen bzw. davon heruntergeladener Dateien übernehmen und sind in keiner Weise
				verantwortlich für die Internetseiten Dritter.</p>
			<p>Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer
				Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.</p>
		</section>
		<ul class="actions special">
			<li><a href="{{ url_for_lang('home')}}#contact" class="button large">Kontak</a></li>
		</ul>

	</div>
	<!-- Footer -->
	<footer id="footer">
		<section>
			<h3>Social</h3>
			<ul class="icons alt">
				<li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
				<li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
				<li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
			</ul>
		</section>
	</footer>


	<!-- Copyright -->
	<div id="copyright">
		<ul>
			<li>Dr. Maria Susana Oder-Peña </li>
		</ul>
		<ul>
			<li>Steuernummer-ID DE248517308</li>
		</ul>
		<ul>
			<li>&copy; {{ current_year }} Kanzlei Dr. Susana Peña</li>
			<li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
		</ul>
		<ul>
			<li>Photographer Inci Bosnak</li>
			<li>Logo Design by JJO</li>
		</ul>
	</div>

</div>

<!-- Footer -->
<footer id="footer">
	<section>
		<form method="post" action="#">
			<div class="fields">
				<div class="field">
					<label for="name">Name</label>
					<input type="text" name="name" id="name" />
				</div>
				<div class="field">
					<label for="email">Email</label>
					<input type="text" name="email" id="email" />
				</div>
				<div class="field">
					<label for="message">Message</label>
					<textarea name="message" id="message" rows="3"></textarea>
				</div>
			</div>
			<ul class="actions">
				<li><input type="submit" value="Send Message" /></li>
			</ul>
		</form>
	</section>
	<section class="split contact">
		<section class="alt">
			<h3>Address</h3>
			<p>1234 Somewhere Road #87257<br />
				Nashville, TN 00000-0000</p>
		</section>
		<section>
			<h3>Phone</h3>
			<p><a href="#">(000) 000-0000</a></p>
		</section>
		<section>
			<h3>Email</h3>
			<p><a href="#">info@untitled.tld</a></p>
		</section>
		<section>
			<h3>Social</h3>
			<ul class="icons alt">
				<li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
				<li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
				<li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
			</ul>
		</section>
	</section>
</footer>

<!-- Copyright -->
<div id="copyright">
	<ul>
		<li>&copy; Untitled</li>
		<li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
	</ul>
</div>

</div>

<!-- Scripts -->
<script src="https://cdn.jsdelivr.net/npm/@tolgee/web/dist/tolgee-web.umd.min.js"></script>
<script>
	// Inyectamos la config desde Flask al frontend
	window.tolgeeConfig = {
		apiKey: "{{ tolgee_api_key }}",
		apiUrl: "{{ tolgee_api_url }}",
		language: "{{ tolgee_lang }}"
	};
</script>
<!-- Scripts -->
<script src="{{ url_for('static', filename='assets/js/tolgee-init.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/jquery.scrollex.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/jquery.scrolly.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/browser.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/breakpoints.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/util.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

</body>

</html>