<!DOCTYPE HTML>
<html lang="{{ tolgee_lang }}">

<head>
	<title>Impressum</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="author" content="Susana Oder-Pena" />
	<meta name="robots" content="index, follow" />

	<link rel="apple-touch-icon" sizes="180x180"
		href="{{ url_for('static', filename='assets/images/apple-touch-icon.png') }}" />
	<link rel="icon" type="image/png" sizes="32x32"
		href="{{ url_for('static', filename='assets/favicon_susana/favicon-32x32.png' )}}" />
	<link rel="icon" type="image/png" sizes="16x16"
		href="{{ url_for('static', filename='assets/favicon_susana/favicon-16x16.png') }}" />
	<link rel="manifest" href="{{ url_for( 'static', filename='assets/json/site.webmanifest' )}}" />

	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />
	<noscript>
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/noscript.css') }}" />
	</noscript>
</head>

<!-- Wrapper -->
<div id="wrapper">

	<!-- Header -->
	<header id="header" class=>
		<a href="{{url_for('home')}}" class="logo"><img src="{{ url_for('static', filename='images/logo.png') }}"></a>
	</header>

	<!-- Nav -->
	<nav id="nav">
		<ul class="links">
			<li><a href="{{url_for('home')}}" data-i18n="menu-home">Startseite</a></li>
			<li><a href="{{url_for('firma')}}" data-i18n="menu-home-firma">Die Kanzlei</a></li>
			<li><a href="{{url_for('services')}}" data-i18n="menu-home-services">Dienstleistungen</a></li>
			<li><a href="{{ url_for('about_me')}}" data-i18n="menu-home-aboutMe">über mich</a></li>
			<li class="active"><a href="{{ url_for('impresum')}}" data-i18n="menu-home-impresum">Impressum</a></li>
			<li><a href="{{ url_for('privacy')}}" data-i18n="menu-home-privacy">Datenschutz</a></li>
		</ul>
	</nav>

	<!-- Main -->
	<div id="main">

		<!-- Post -->
		<section class="post">
			<header class="major">
				<h1 data-i18n="impresum-title">Impressum</h1>
			</header>


			<div class="col-4"><span class="image right"><img src="static/images/impreso.jpeg" alt="" />
					<span data-i18n="impresum-information">Angaben gemäß TMG, RStV und DL-InfoV<br></span>
					Dr. María Susana Oder-Peña, LL. M. <br>
					Rechtsanwältin & Abogada <br>
					Häusserstraße 6a 69115 Heidelberg <br>
					<h6><a href="{{ url_for('home')}}#contact " data-i18n="contact-button">Kontakt</a></h6>
					Tel: 06221/4337204 <br>
					Fax: 06221/4337205 <br>
					E-Mail: info@pena-abogados.com <br>
					Umsatzsteuer-Identifikationsnummer gemäß § 27 a Umsatzsteuergesetz: DE248517308
					<b data-i18n="impresum-b">Gesetzliche Berufsbezeichnung</b> Rechtsanwältin & Abogada
					Frau Rechstsanwältin Dr. Oder-Peña ist zur Ausübung der Rechtsanwaltstätigkeit in Deutschland,
					Spanien und Kolumbien zugelassen.
				</span>
				<hr>

			</div>

			<!-- Text stuff -->
			<h3 data-i18n="impresum-stuff-title">Zuständige Kammern:</h3>
			<p><b>Rechtsanwaltskammer Karlsruhe</b><br>
				Reinhold-Frank-Strasse 72
				76133 Karlsruhe</p>

			<h3 data-i18n="impresum-madrid-title">Ilustre Colegio de Abogados de Madrid</h3>
			<p>Calle de Serrano 9 <br>
				28001 Madrid
			</p>
			<h3 data-i18n="impresum-bogota-title">Consejo Superior de la Judicatura de Bogotá</h3>
			<p>Calle 12 Nr. 7-56 <br>
				Bogotá, Colombia
			</p>
			<h3 data-i18n="impresum-regulations-title">Maßgebliche berufsrechtliche Regelungen:</h3>
			<ul class="alt">
				<li data-i18n="impresum-regulations-brao">Bundesrechtsanwaltsordnung (BRAO)</li>
				<li data-i18n="impresum-regulations-bora">Berufsordnung für Rechtsanwälte (BORA)</li>
				<li data-i18n="impresum-regulations-fao">Fachanwaltsordnung (FAO)</li>
				<li data-i18n="impresum-regulations-rvg">Rechtsanwaltsvergütungsgesetz (RVG)</li>
				<li data-i18n="impresum-regulations-ccbe">Berufsregeln der Rechtsanwälte der Europäischen Union (CCBE)
				</li>
			</ul>

			<h4 data-i18n="impresum-regulations-info">Diese berufsrechtlichen Regelungen finden Sie auf der Homepage der
				Bundesrechtsanwaltskammer
				unter der Rubrik „Berufsrecht“.</h4>(<a href="https://www.brak.de" target="_blank">www.brak.de</a>)

			<ul class="alt">
				<li>Estatuto General de abogacía en España (<a href="https://www.mjusticia.gob.es"
						target="_blank">www.mjusticia.gob.es</a>)</li>
				<li>Estatuto General de la abogacía en Colombia <br> (<a href="https://www.ramajudicial.gov.co"
						target="_blank">www.ramajudicial.gov.co</a>)</li>
			</ul>

			<h3 data-i18n="impresum-responsible-title">Inhaltlich Verantwortliche <br>
				gemäß § 55 Abs. 2 RStV:</h3>
			RStV: Dr. Susana Oder-Peña (Anschrift wie oben) <br>
			Berufshaftpflichtversicherung <br>
			Allianz Versicherungs-AG <br>
			10900 Berlin
			<hr />
			<h2 data-i18n="impresum-disclaimer-title">Haftungsausschluss:</h2>
			<p data-i18n="impresum-disclaimer-text">Die Inhalte der Internetseite www.pena-abogados.com dienen
				allgemeinen Informationszwecken.
				Ihr Inhalt ist unverbindlich. Die Seiten sind weder als Teil von Geschäftsbeziehungen noch
				als gewerbsmäßige Beratung anzusehen. Da Rechtsfragen in der Regel äußerst komplex und
				vielfältig sind, empfehlen wir, unbedingt rechtlichen Rat einzuholen und sich nicht nur
				auf die allgemeinen Informationen dieser (oder anderer) Seiten zu stützen. Als Service
				für den Benutzer enthalten diese Seiten außerdem Verweise zu Servern anderer Unternehmen
				oder Organisationen. Wir können keinerlei Gewähr oder Haftung für den Inhalt, die Aktualität,
				Korrektheit, Vollständigkeit, Qualität oder Quelle der auf diesen Seiten dargebotenen
				Informationen bzw. davon heruntergeladener Dateien übernehmen und sind in keiner Weise
				verantwortlich für die Internetseiten Dritter.</p>
			<p data-i18n="impresum-disclaimer-external-links">Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir
				keine Haftung für die Inhalte externer
				Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.</p>
		</section>
		<ul class="actions special">
			<li><a href="{{ url_for('home')}}#contact" class="button large" data-i18n="contact-button">Kontak</a>
			</li>
		</ul>
	</div>
	<!-- Footer -->
	<footer id="footer">
		<section>
			<h3>Social</h3>
			<ul class="icons alt">
				<!--<li><a href="" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a>
						</li>
						<li><a href="" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a>
						</li>
						<li><a href="" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>-->
				<li><a href="https://share.google/SGkgSo4xeqm79YAYD" target="_blank"
						class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a>
				</li>
				<li><a href="https://www.anwalt.de/maria-susana-oder-pena" target="_blank"
						class="icon solid alt fa-globe" title="Anwalt.de"><span class="label">Anwalt</span></a>
				</li>
				<li><a href="https://anwaltverein.de/" target="_blank" class="icon solid alt fa-link"
						title="Anwaltverein.de"><span class="label">Anwaltverein</span></a></li><br>
			</ul>
		</section>
	</footer>


	<!-- Copyright -->
	<div id="copyright">
		<ul>
			<li>Dr. Maria Susana Oder-Peña </li>
		</ul>
		<ul>
			<li data-i18n="home-footer-id">Steuernummer-ID DE248517308</li>
		</ul>
		<ul>
			<li>&copy; {{ current_year }} Kanzlei Dr. Susana Peña</li>
			<li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
		</ul>
		<ul>
			<li>Photographer Inci Bosnak</li>
			<li>Logo Design by JJO</li>
		</ul>
	</div>
</div>

<!-- Scripts -->
<script src="https://cdn.jsdelivr.net/npm/@tolgee/web/dist/tolgee-web.umd.min.js"></script>
<script>
	// Inyectamos la config desde Flask al frontend
	window.tolgeeConfig = {
		apiKey: "{{ tolgee_api_key }}",
		apiUrl: "{{ tolgee_api_url }}",
		language: "{{ tolgee_lang }}"
	};
</script>
<!-- Scripts -->
<script src="{{ url_for('static', filename='assets/js/tolgee-init.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/jquery.scrollex.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/jquery.scrolly.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/browser.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/breakpoints.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/util.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

</body>

</html>