<!DOCTYPE HTML>
<html lang="{{ tolgee_lang }}">

<head>
	<title>Startseite</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="author" content="Susana Oder-Pena" />
	<meta name="robots" content="index, follow" />

	<link rel="apple-touch-icon" sizes="180x180"
		href="{{ url_for('static', filename='assets/images/apple-touch-icon.png') }}" />
	<link rel="icon" type="image/png" sizes="32x32"
		href="{{ url_for('static', filename='assets/favicon_susana/favicon-32x32.png' )}}" />
	<link rel="icon" type="image/png" sizes="16x16"
		href="{{ url_for('static', filename='assets/favicon_susana/favicon-16x16.png') }}" />
	<link rel="manifest" href="{{ url_for( 'static', filename='assets/json/site.webmanifest' )}}" />

	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />
	<noscript>
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/noscript.css') }}" />
	</noscript>
</head>

<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper" class="fade-in">
		<!-- Language Selector -->
		<div class="row">
			<div class="col-1.5 col-1-small">
				<select name="demo-category" id="demo-category">
					<option value="es-CO">Español</option>
					<option value="de-DE">Deutsch</option>
					<option value="en-US">English</option>
				</select>
			</div>
		</div>

		<!-- Intro -->
		<div id="intro">
			<h1>Kanzlei<br />
				Dr. Susana Peña</h1>
			<p data-i18n="lema-home">Wir vertreten Ihre Interessen in Deutschland, Spanien und Kolumbien</p>
			<ul class="actions">
				<li><a href="#header" class="button icon solid solo fa-arrow-down scrolly"></a></li>
			</ul>
		</div>

		<!-- Header -->
		<header id="header" class=>
			<a href="{{url_for('home')}}" class="logo"><img
					src="{{ url_for('static', filename='images/logo.png') }}"></a>
		</header>

		<!-- Nav -->
		<nav id="nav">
			<ul class="links">
				<li class="active"><a href="" data-i18n="menu-home">Startseite</a></li>
				<li><a href="{{url_for('firma')}}" data-i18n="menu-home-firma">Die Kanzlei</a></li>
				<li><a href="{{url_for('services')}}" data-i18n="menu-home-services">Dienstleistungen</a></li>
				<li><a href="{{ url_for('about_me')}}" data-i18n="menu-home-aboutMe">über mich</a></li>
				<li><a href="{{ url_for('impresum')}}" data-i18n="menu-home-impresum">Impressum</a></li>
			</ul>
		</nav>

		<!-- Main -->
		<div id="main">

			<!-- Featured Post -->
			<article class="post featured">
				<header class="major">
					<h2 data-i18n="home-welcome"><a>WILLKOMMEN<br />
						</a></h2>
					<p data-i18n="home-address" style="color: black;"><b>auf den Seiten der Kanzlei
							Dr. Susana Peña </p>
					<p><a href="https://maps.app.goo.gl/RXkbSbY74AHCimdq7" target="_blank">Häusserstraße 6a
							69115 Heidelberg</a>
						</b></p>
					<p data-i18n="home-welcome-p" style="color: black;">Wir bieten Betreuung und Abwicklung
						grenzüberschreitender Mandate an,
						insbesondere in den Bereichen des FAMILIENRECHTS, nämlich Scheidung, Unterhalt, Sorgerecht,
						Eheverträge,
						sowie des IMMOBILIENRECHTS, nämlich Grundstücksverträge, Eigentumsrecht und des
						AUSLÄNDERRECHTS nämlich Visum, Aufenthalts- und Niederlassungserlaubnis, Staatsangehörigkeit.
						<br>

						Auf den folgenden Seiten finden Sie weitere Informationen. Nehmen Sie gleich hier direkt Kontakt
						mit
						uns auf.
					</p>

					<a href="{{ url_for('about_me') }}" class="image main"><img
							src="{{ url_for('static', filename='images/susana.png') }}" alt="" /></a>
				</header>
			</article>

			<!-- Posts -->

		</div>

		<!-- Footer -->
		<footer id="footer">
			<section id="contact" name="contact">
				<form method="post" action="#">
					<div class="fields">
						<div class="field">
							<label for="firstname" data-i18n="home-name">Vorname*</label>
							<input type="text" name="firstname" id="firstname" required />
						</div>
						<div class="field">
							<label for="lastname" data-i18n="home-lastname">Nachname*</label>
							<input type="text" name="lastname" id="lastname" required />
						</div>
						<div class="field">
							<label for="email" data-i18n="home-email">E-mail*</label>
							<input type="text" name="email" id="email" required />
						</div>
						<div class="field">
							<label for="phone" data-i18n="home-phone">Telefon</label>
							<input type="text" name="phone" id="phone" />
						</div>
						<div class="field">
							<label for="message" data-i18n="home-message">Nachricht*</label>
							<textarea name="message" id="message" rows="3" required></textarea>
						</div><br>
					</div>
					<div class="col-6 col-8-small">
						<input type="checkbox" id="demo-copy" name="demo-copy" required />
						<label for="demo-copy" data-i18n="home-politic">Mit dem Absenden dieses Formulars erklären Sie
							sich damit
							einverstanden, dass die von Ihnen angegebenen personenbezogenen Daten zur Verarbeitung
							gemäß unserer Datenschutzrichtlinie an unsere Datenbank übertragen werden.</label>
						<label for="demo-copy">
							<a href="{{ url_for('static', filename='assets/pdf/Datenschutzrichtlinien.pdf') }}"
								target="_blank">
								<p data-i18n-html="false" data-i18n="home-politic-link">Unsere
									Datenschutzrichtlinien
									finden Sie
									hier.</p>
							</a>
						</label>

					</div>
					<ul class="actions">
						<li><input type="submit" data-i18n="home-send-button" value="Senden" data-i18n-attr="value" />
						</li>
						<li><input type="reset" data-i18n="home-delete" value="löschen" data-i18n-attr="value" /></li>
					</ul>
					{% with messages = get_flashed_messages(with_categories=True) %}
					{% if messages %}
					<div class="flashes">
						{% for category, message in messages %}
						<div class="flash {{ category }}">{{ message }}</div>
						{% endfor %}
					</div>
					{% endif %}
					{% endwith %}
				</form>
			</section>
			<section class="split contact">
				<section class="alt">
					<h3 data-i18n="home-address-form">Addresse</h3>
					<p><a href="https://maps.app.goo.gl/RXkbSbY74AHCimdq7" target="_blank">Häusserstraße 6a
							69115 Heidelberg</a>
					</p>
				</section>
				<section class="alt">
					<h3 data-i18n="home-phone-form">Telefon</h3>
					<p><a href="#">+49 (0) 6221 4337204</a></p>
				</section>
				<section>
					<h3 data-i18n="home-email-form">E-mail</h3>
					<p><a href="mailto:info@pena-abogados.com">info@pena-abogados.com</a></p>
				</section>
				<section>
					<h3>Social</h3>
					<ul class="icons alt">
						<!--<li><a href="" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a>
						</li>
						<li><a href="" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a>
						</li>
						<li><a href="" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>-->
						<li><a href="" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a>
						</li>
						<li><a href="https://www.anwalt.de/" target="_blank" class="icon solid alt fa-globe"
								title="Anwalt.de"><span class="label">Anwalt</span></a>
						</li>
						<li><a href="https://anwaltverein.de/" target="_blank" class="icon solid alt fa-link"
								title="Anwaltverein.de"><span class="label">Anwaltverein</span></a></li>
					</ul>
				</section>
			</section>
		</footer>

		<!-- Copyright -->
		<div id="copyright">
			<ul>
				<li>Dr. Maria Susana Oder-Peña </li>
			</ul>
			<ul>
				<li data-i18n="home-footer-id">Steuernummer-ID DE248517308</li>
			</ul>
			<ul>
				<li>&copy; {{ current_year }} Kanzlei Dr. Susana Peña</li>
				<li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
			</ul>
			<ul>
				<li>Photographer Inci Bosnak</li>
				<li>Logo Design by JJO</li>
			</ul>
		</div>

	</div>

	<!-- Scripts -->
	<script src="https://cdn.jsdelivr.net/npm/@tolgee/web/dist/tolgee-web.umd.min.js"></script>
	<script>
		// Inyectamos la config desde Flask al frontend
		window.tolgeeConfig = {
			apiKey: "{{ tolgee_api_key }}",
			apiUrl: "{{ tolgee_api_url }}",
			language: "{{ tolgee_lang }}",
		};
	</script>
	<!-- Scripts -->
	<script src="{{ url_for_lang('static', filename='assets/js/tolgee-init.js') }}"></script>
	<script src="{{ url_for_lang('static', filename='assets/js/jquery.min.js') }}"></script>
	<script src="{{ url_for_lang('static', filename='assets/js/jquery.scrollex.min.js') }}"></script>
	<script src="{{ url_for_lang('static', filename='assets/js/jquery.scrolly.min.js') }}"></script>
	<script src="{{ url_for_lang('static', filename='assets/js/browser.min.js') }}"></script>
	<script src="{{ url_for_lang('static', filename='assets/js/breakpoints.min.js') }}"></script>
	<script src="{{ url_for_lang('static', filename='assets/js/util.js') }}"></script>
	<script src="{{ url_for_lang('static', filename='assets/js/main.js') }}"></script>

</body>

</html>