<!DOCTYPE HTML>
<html lang="{{ tolgee_lang }}">

<head>
	<title>Dienstleistungen</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="author" content="Susana Oder-Pena" />
	<meta name="robots" content="index, follow" />

	<link rel="apple-touch-icon" sizes="180x180"
		href="{{ url_for('static', filename='assets/images/apple-touch-icon.png') }}" />
	<link rel="icon" type="image/png" sizes="32x32"
		href="{{ url_for('static', filename='assets/favicon_susana/favicon-32x32.png' )}}" />
	<link rel="icon" type="image/png" sizes="16x16"
		href="{{ url_for('static', filename='assets/favicon_susana/favicon-16x16.png') }}" />
	<link rel="manifest" href="{{ url_for( 'static', filename='assets/json/site.webmanifest' )}}" />

	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/gallery.css') }}" />
	<noscript>
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/galleryNoscript.css') }}" />
	</noscript>
	<noscript>
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/noscript.css') }}" />
	</noscript>
</head>

<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper" class="divided">

		<!-- Header -->
		<header id="header" class=>
			<a href="{{url_for('home')}}" class="logo"><img
					src="{{ url_for('static', filename='images/logo.png') }}"></a>
		</header>

		<!-- Nav -->
		<nav id="nav">
			<ul class="links">
				<li><a href="{{url_for('home')}}" data-i18n="menu-home">Startseite</a></li>
				<li><a href="{{url_for('firma')}}" data-i18n="menu-home-firma">Die Kanzlei</a></li>
				<li class="active"><a href="" data-i18n="menu-home-services">Dienstleistungen</a></li>
				<li><a href="{{ url_for('about_me')}}" data-i18n="menu-home-aboutMe">über mich</a></li>
				<li><a href="{{ url_for('impresum')}}" data-i18n="menu-home-impresum">Impressum</a></li>
				<li><a href="{{ url_for('privacy')}}" data-i18n="menu-home-privacy">Datenschutz</a></li>
			</ul>
		</nav>

		<!-- Main -->
		<div id="main">

			<!-- Post -->
			<section class="post">
				<header class="major">
					<h1 data-i18n="services-title">Dienstleistungen</h1>
					<hr />
					<p style="color: black;" data-i18n="services-descript">
						Mit dem Schwertpunkt der Länder Deutschland, Spanien, Kolumbien umfasst die Bandbreite unserer
						Beratung folgende Bereiche:
					</p>
				</header>

				</ul>
				<!-- Gallery -->
				<div class="gallery style2 medium lightbox onscroll-fade-in">
					<article>
						<a href="static/images/extranjeria.jpg" class="image">
							<img src="static/images/extranjeria.jpg" alt="" />
						</a>
						<div class="caption">
							<h3 data-i18n="services-civil-title" style="color: whitesmoke;">Familienrecht mit
								Auslandsberührung</h3>
							<!-- <p data-i18n="services-civil-descript" style="color: white;">Das Zivilrecht betrifft
								sämtliche
								Beziehungen zwischen privaten
								Personen. Das internationale
								Zivilrecht erfasst jeden Sachverhalt mit Auslandsbezug. Wir sind diesbezüglich
								spezialisiert
								auf das Familienrecht insbesondere bieten wir Leistungen für Ehepartner mit
								unterschiedlicher
								Staatsangehörigkeit.</p> -->
							<ul class="col-8 col-12-small">
								<p>
									<li data-i18n="services-1">Eheverträge</li>
									<li data-i18n="services-6">Güterrecht</li>
									<li data-i18n="services-2">Scheidung</li>
									<li data-i18n="services-5">Vermögensauseinandersetzungen</li>
									<li data-i18n="services-3">Unterhalt</li>
									<li data-i18n="services-4">Sorge-und Umgangsrecht</li>
								</p>
							</ul>
						</div>
					</article>

					<article>
						<a href="static/images/civil.jpg" class="image">
							<img src="static/images/civil.jpg" alt="" />
						</a>
						<div class="caption">
							<h3 data-i18n="services-ausl-title">Ausländerrecht</h3>
							<!-- <p style="color: white;" data-i18n="services-ausl-p">Das Ausländerecht umfasst die
								gesetzliche
								Bestimmung über die Einreise,
								den Aufenthalt,
								oder die Erwerbstätigkeit von Menschen, die nicht die Staatsangehörigkeit des
								Aufenthaltsstaates besitzen.
								Wie bieten Ihnen Unterstützung bei.</p> -->
							<ul class="col-6 col-12-small">
								<p>
									<li data-i18n="services-1-ausl">Visumsverfahren</li>
									<li data-i18n="services-2-ausl">Aufenthaltstiteln</li>
									<li data-i18n="services-4-ausl">Niederlassungserlaubnis</li>
									<li data-i18n="services-3-ausl">Staatsangehörigkeit</li>
									<li data-i18n="services-5-ausl">Aufenthaltskarte-EU</li>
								</p>
							</ul>
						</div>
					</article>

					<article>
						<a href="static/images/inmobiliario.jpg" class="image">
							<img src="static/images/inmobiliario.jpg" alt="" />
						</a>
						<div class="caption">
							<h3 data-i18n="services-inmo-title">Immobilienrecht</h3>
							<!-- <p data-i18n="services-inmo-p" style="color: white;">Ich biete Ihnen umfassende
								Rechtsberatung
								bei
								Immobilientransaktionen in Deutschland, vom
								Kauf und Verkauf bis zur Vermietung. Ich übernehme die Vertragsprüfung, die Verwaltung
								der
								Unterlagen und die Streitbeilegung. Ich sorge dafür, dass Ihre Investition oder Ihr
								Vermögensmanagement
								mit größtmöglicher Rechtssicherheit erfolgt.</p>-->
							<ul class="col-6 col-12-small">
								<p>
									<li data-i18n="services-1-inmo">Grundstücksverträge</li>
									<li data-i18n="services-2-inmo">Eigentumsrecht</li>
								</p>
							</ul>
						</div>
					</article>

					<article>
						<a href="static/images/asesoria.jpg" class="image">
							<img src="static/images/asesoria.jpg" alt="" />
						</a>
						<div class="caption">
							<h3 data-i18n="services-personal-title">Persönliche Beratung</h3>
							<p data-i18n="services-personal-p">Bei uns erhalten Sie eine professionelle und individuelle
								Beratung, ganz
								nach Wunsch in virtuellen synchronen Meetings oder persönlich in unserem Büro.</p>
						</div>
					</article>
				</div>
			</section>
			<ul class="actions special">
				<li><a href="{{ url_for('home')}}#contact" class="button large" data-i18n="contact-button">Kontakt</a>
				</li>
			</ul>
		</div>
		<footer id="footer">
			<section>
				<h3>Social</h3>
				<ul class="icons alt">
					<!--<li><a href="" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a>
						</li>
						<li><a href="" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a>
						</li>
						<li><a href="" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>-->
					<li><a href="https://share.google/SGkgSo4xeqm79YAYD" class="icon brands alt fa-linkedin-in"
							target="_blank"><span class="label">LinkedIn</span></a>
					</li>
					<li><a href="https://www.anwalt.de/" target="_blank" class="icon solid alt fa-globe"
							title="Anwalt.de"><span class="label">Anwalt</span></a>
					</li>
					<li><a href="https://anwaltverein.de/" target="_blank" class="icon solid alt fa-link"
							title="Anwaltverein.de"><span class="label">Anwaltverein</span></a></li>
				</ul>
			</section>
		</footer>

		<!-- Copyright -->
		<div id="copyright">
			<ul>
				<li>Dr. Maria Susana Oder-Peña </li>
			</ul>
			<ul>
				<li data-i18n="home-footer-id">Steuernummer-ID DE248517308</li>
			</ul>
			<ul>
				<li>&copy; {{ current_year }} Kanzlei Dr. Susana Peña</li>
				<li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
			</ul>
			<ul>
				<li>Photographer Inci Bosnak</li>
				<li>Logo Design by JJO</li>
			</ul>
		</div>


		<!-- Scripts -->
		<script src="https://cdn.jsdelivr.net/npm/@tolgee/web/dist/tolgee-web.umd.min.js"></script>
		<script>
			// Inyectamos la config desde Flask al frontend
			window.tolgeeConfig = {
				apiKey: "{{ tolgee_api_key }}",
				apiUrl: "{{ tolgee_api_url }}",
				language: "{{ tolgee_lang }}"
			};
		</script>
		<!-- Scripts -->
		<script src="{{ url_for('static', filename='assets/js/tolgee-init.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/jquery.scrollex.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/jquery.scrolly.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/browser.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/breakpoints.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/util.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

</body>

</html>